
import java.util.ArrayList;


public class Candidato {

	int numero;
	String nome;
	ArrayList doacoes = new ArrayList();
	
	Candidato(String s, int n){
		
		this.nome = s;
		this.numero = n;
		
	}
	
	public String toString(){
		
		return this.nome + " " + this.numero;
		
	}
	
}
